:root {
  --prussian-blue: rgb(0, 48, 73);
  --fire-engine-red: rgb(214, 40, 40);
  --orange-wheel: rgb(247, 127, 0);
  --xanthous: rgb(252, 191, 73);
  --vanilla: rgb(234, 226, 183);
}
* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.home  {
  background-image: url('../public/TaskManager\ Logo.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
  
}
.home > h1 {
  font-size: 3rem;
  color: var(--orange-wheel);
  text-align: center;
  margin-top: 15%;
  
}
.form-control {
  font-weight: 250;
}
button, .btn {
  color: var(--vanilla);
  background-color: var(--prussian-blue);
  border-radius: 8px;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset; */
}

button:hover, .btn:hover {
  background-color: var(--vanilla);
  color: var(--prussian-blue);
  border: 2px solid var(--prussian-blue);
  cursor: pointer;
}

.custom-delete-btn, .custom-mark-btn {
  color: var(--prussian-blue);
  font-size: 28px;
  /* margin-left: 20px; */
  width: fit-content;
}
.custom-delete-btn:hover, .custom-mark-btn:hover {
  color: var(--orange-wheel);
  cursor: pointer;
  font-size: 25px;
}

h1 {
  text-align: center;
  margin: 40px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-page, .signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-btn, .signup-btn {
  color: var(--vanilla);
  background-color: var(--prussian-blue);
  margin: 10px;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid grey;
}
.login-btn:hover, .signup-btn:hover {
  background-color: var(--vanilla);
  color: var(--prussian-blue);
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin: 30px;
  border: 2px solid grey;
  padding: 10px;
  background-color: #f0f0f0;
}
.custom-login-btn, .custom-signup-btn {
  margin: 20px;
  font-size: 20px;
  padding: 10px;
}
.login-form, .signup-form {
  display: flex;
  flex-direction: column;
}
.menubar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: var(--prussian-blue);
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--prussian-blue);
  color: var(--vanilla);
  width: 100%;
}
.navbar > h1 {
  text-align: center;
  text-wrap: wrap;
  margin: 20px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.nav > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav > li > .nav-link:hover {
  color: var(--orange-wheel);
  font-weight: 500;
  text-decoration: underline;
}
.nav > li > .custom-nav-link {
  margin: 5px;
  color: var(--vanilla);
  font-size: 1.1rem;
  font-weight: 350;
}
.nav > li > i {
  font-size: 1.2rem;
}

.view-page {
  display: grid;
  grid-template-columns: 13% 87%;
  background-color: #f0f0f0;
  height: 100vh;
}
.dashboard-view, .task-view, .archive-view {
  display: flex;
  flex-direction: column;
}
.dashboard-header, .archive-header, .view-page-header > h2 {
  padding: 25px;
  color: var(--fire-engine-red);
}
.view-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: url('../public/TaskManager\ Logo.png');
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--fire-engine-red);
  border-bottom: 1px solid grey;
}
.view-page-header > h4 {
  padding-right: 3rem;
  color: var(--fire-engine-red);
}
.tasks-display {
  margin: 25px;
  background-color: white;
  border: 1px solid grey;
  width: 90%;
  align-self: center;
  padding: 15px;
}
.character-count {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.2rem;
}
.task, .task-headers {
  display: grid;
  grid-template-columns: 5% 22% 11% 11% 16% 16% 10% 10%;
  margin: 15px;
  padding: 5px;
  border-bottom: 1px solid var(--prussian-blue);
  align-items: center;
}
.task-headers > h6, .completedtask-headers > h6 {
  font-size: 1.1rem;
  width: 10px;
}
.completed-task, .completedtask-headers {
  display: grid;
  grid-template-columns: 5% 20% 10% 10% repeat(3, 1fr);
  margin: 15px;
  padding: 5px;
  border-bottom: 1px solid var(--prussian-blue);
}
.task > *, .single-task-link {
  margin-top: 0;
  margin-bottom: 1rem;
}



.custom-logout-btn:hover {
  cursor: pointer;
  
}
.task-details {
  align-self: center;
  padding: 20px;
  margin: 20px;
  width: 60%;
  border: 1px solid grey;
  background-color: white;
}
.custom-task-btns > button, .custom-new-task-btn {
  padding: 5px 10px 5px 10px;
  font-weight:500;
}
.custom-new-task-btn {
  margin: 20px;
  font-size: 17px;
  padding: 10px;
  align-self: center;
}
label {
  /* font-style: italic; */
  color: red;
  font-weight: 250;
}
.task-status {
  padding: 7px;
  border-radius: 8px;
  font-weight: 400;
  width: fit-content;
  margin-left: 4px;
}

.nav-link,
.task > i,
.btn,
.delete,
.toggle-read {
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 1600px) {
  .task, .task-headers {
    display: grid;
    grid-template-columns: 5% 22% 12% 10% 15% 15% repeat(2, 1fr);
    
  }
  .completed-task, .completedtask-headers {
    display: grid;
    grid-template-columns: 5% 25% 15% 10% 15% 15% 15%;
  }
  .view-page {
    grid-template-columns: 17% 83%;
  }
  .tasks-display, .task-headers > h6, .completedtask-headers > h6 {
    font-size: 0.9rem;
  }
  .task > i {
    font-size: 1.1rem;
  }
  .tasks-display {
    width: 97%;
  }
  .task-details {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .task, .task-headers {
    display: grid;
    grid-template-columns: 5% 22% 12% 10% 15% 15% repeat(2, 1fr);
    
  }
  .completed-task, .completedtask-headers {
    display: grid;
    grid-template-columns: 5% 25% 15% 10% 15% 15% 15%;
  }
  .view-page {
    grid-template-columns: 18% 82%;
  }
  .tasks-display, .task-headers > h6, .completedtask-headers > h6 {
    font-size: 0.8rem;
  }
  .task > i {
    font-size: 1rem;
  }
  .tasks-display {
    width: 97%;
  }
  .task-details {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
  }
  
  .view-page {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .menubar, .navbar, .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .menubar {
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .nav {
    margin: 20px;
  }
  .tasks-display, .task-headers > h6, .completedtask-headers > h6 {
    font-size: 0.75rem;
  }
  .task > i {
    font-size: 0.9rem;
  }
  .task, .task-headers {
    display: grid;
    grid-template-columns: 5% 22% 15% 10% 14% 14% repeat(2, 1fr);
    font-size: 0.7rem;
    
  }
  .completed-task, .completedtask-headers {
    display: grid;
    grid-template-columns: 5% 25% 15% 10% 15% 15% 15%;
  }
  .task-details {
    width: 90%;
  }
  .tasks-display > h3 {
    font-size: 1.35rem;
  }
  .view-page-header > * {
    font-size: 1.2rem;
  }
  
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .nav > li > .custom-nav-link {
    font-size: 0.9rem;
  }
  h2, h4 {
    font-size: 0.9rem;
  }
  .custom-new-task-btn {
    font-size: 0.8rem;
  }
  .view-page-header > h2 {
    padding: 5px;
    
  }
  .view-page-header > h4 {
    padding-right: 1rem;

  }
  .tasks-display, .task-headers > h6, .completedtask-headers > h6 {
    font-size: 0.42rem;
  }
  .tasks-display > h3 {
    font-size: 0.9rem;
  }
  .view-page-header > * {
    font-size: 1rem;
  }
  .task {
    font-size: 0.45rem;
  }
}

@media screen and (max-width: 407px) {
  .menubar, .navbar, .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tasks-display {
    margin: 0;
    padding: 0;
  }
  .single-task-link {
    width: min-content;
  }
  .task, .task-headers {
    display: grid;
    grid-template-columns: 5% 17% 15% 12% 15% 15% repeat(2, 1fr);  
  }
  .task-status {
    margin-right: 5px;
    padding: 4px;
  }
}